<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>Thank you for registering on RatedaFRiKa. Please find code to verify your email below:</p>
    <p></p>
    <h2>{{code}}</h2>
    <p>This link will expire in 24 hours.</p>
    <p>If you did not create an account, please ignore this email.</p>
    <p>We're just as pumped as you are for what the future holds</p>
    <br>
    <p>Best regards,<br/>RatedaFRiKa Team</p>
</body>
</html>
