<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Someone's trying to get in</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>Someone is trying to login to you account on RatedaFRiKa.<br/>
     Please Verify that its you:</p>
    <p></p>
    <h2>{{Otp}}</h2>
    <p>This Code will expire in 10 mins.</p>
    <p>If this was not you, please ignore this email and contact our support agents.</p>
    <br>
    <p>Best regards,<br/>RatedaFRiKa Team</p>
</body>
</html>
